.shimmer-container {
  width: 100%;
  height: 100%;
}

.shimmer {
  width: 100%;
  height: 100%;
  background: transparent;
  display: inline-block;
  border-radius: 8px;
}

.child-wrapper {
  visibility: hidden !important;
}

.animate {
  animation: shimmer 3s infinite linear;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  height: 100%;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
